<div class="card">
  <div class="card-header">
      You have selected <ng-container [ngTemplateOutlet]="couterTemp"></ng-container> items.
  </div>
  <div class="card-body">
      There are <ng-container [ngTemplateOutlet]="couterTemp"></ng-container> items was selected.
  </div>
  <div class="card-footer">
      You have selected <ng-container [ngTemplateOutlet]="couterTemp"></ng-container>  items.
  </div>
</div>
<ng-template #couterTemp>
  <span class="badge badge-primary">{{ counter }}</span>
</ng-template>
<day5-tabs [nav]="nav" [linkTemplate]="linkTemplate"></day5-tabs>
<ng-template #linkTemplate let-l="link">
  {{l}}
</ng-template>

