<day6-tabs-cha [(activeIndex)]="currentIndex">
  <day6-tabcon title="tab 1">
    <ng-template day6TabPanel>
      First tab content 1
      <br />
      <day6-couter></day6-couter>
    </ng-template>
  </day6-tabcon>
  <day6-tabcon title="tab 2">
    <ng-template day6TabPanel>
      First tab content 2
      <br />
      <day6-couter></day6-couter>
    </ng-template>
  </day6-tabcon>
  <day6-tabcon title="tab 3">
    <ng-template day6TabPanel>
      First tab content 3
      <br />
      <day6-couter></day6-couter>
    </ng-template>
  </day6-tabcon>
</day6-tabs-cha>

<day6-tabsbootstrap [(activeIndex)]="currentIndex">
  <day6-tabcon title="tab 1">
    <ng-template day6TabPanel>
      First tab content 1
      <br />
      <day6-couter></day6-couter>
    </ng-template>
  </day6-tabcon>
  <day6-tabcon title="tab 2">
    <ng-template day6TabPanel>
      First tab content 2
      <br />
      <day6-couter></day6-couter>
    </ng-template>
  </day6-tabcon>
  <day6-tabcon title="tab 3">
    <ng-template day6TabPanel>
      First tab content 3
      <br />
      <day6-couter></day6-couter>
    </ng-template>
  </day6-tabcon>
</day6-tabsbootstrap>
